body {
    background-color: #991616;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 50px;
}

img {
    width: 500px;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
